.buttoncss {
    background-color: white !important;
    color: #000000 !important
}

.buttonEnter {
    background-color: white !important;
    color: #03A9F4 !important;
}

.buttonleave {
    background-color: white !important;
    color: #000000 !important
}

.buttonclick {
    background-color: white !important;
    border-bottom: 3px solid #03A9F4 !important;
    color: #03A9F4 !important;
}